body * {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
}

.conteiner-lista {
    background-color: #ededed;
    width: 95vw;
    max-width: 375px;
    padding: 15px;
    border-radius: 3px;
}

.nova-tarefa {
    display: inline-block;
}

.item-lista {
    border: 1px solid #666;
}

input {
    border-radius: 3px;
    padding: 8px;
    border: none;
    box-shadow: 1px 1px 1px #ccc;
}

.botao {
    background-color: #ffffff;
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    padding: 8px;
    font-weight: 800;
    box-shadow: 1px 1px 1px #ccc;
    cursor: pointer;
}

.botao-nova-tarefa {
    color: #9dbae8;
}

.botao-edicao,
.botao-remocao {
    display: none;
}

.item-lista:hover .botao-edicao,
.item-lista:hover .botao-remocao {
    display: inline-block;
}

.objeto-lista {
    margin-top: 15px;
}

.titulo-lista {
    width: 300px;
    height: 1em;
    display: inline-block;
    text-overflow: ellipsis;
}