html,
body {
    padding: 0;
    margin: 0;
}

body {
    padding: 10vh 0;
}

body * {
    font-family: 'Open Sans', sans-serif;
}

.footer {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1vh;
    font-weight: 600;
    color: #bababa;
}

.footer a {
    color: #585b60;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
}

.conteiner-lista {
    background-color: #ededed;
    width: 80vw;
    max-width: 375px;
    padding: 15px;
    border-radius: 3px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.item-lista {
    background: #f7f7f7;
    padding: 5px;
    border-radius: 3px;
}

.item-lista,
.nova-tarefa,
.botoes-conteiner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 2.25rem;
}

.botoes-conteiner>button,
.botoes-conteiner>a {
    margin-left: 10px;
}

input {
    border-radius: 3px;
    padding: 8px;
    border: none;
    box-shadow: 1px 1px 1px #ccc;
    flex-grow: 1;
    margin-right: 10px;
}

.botao {
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 3px;
    padding: 8px;
    height: 2.25rem;
    font-weight: 800;
    box-shadow: 1px 1px 1px #ccc;
    cursor: pointer;
    transition: opacity 500ms ease-in-out;
}

.botao-nova-tarefa,
.botao-edicao {
    color: #9dbae8;
}

.botao-salvar {
    color: #3ed675;
}

.botao-remocao {
    color: #ed4765;
}

.item-lista:not(:hover) .botao-edicao,
.item-lista:not(:hover) .botao-remocao {
    opacity: 0;
}

.objeto-lista {
    margin-top: 15px;
}

.titulo-lista {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.titulo-lista::before {
    content: '► '
}