<!DOCTYPE html>
<!--
 Estamos definindo que o aplicativo do angular à ser usado
 é o 'listaTarefasApp' e que iremos usar a diretiva
 'ng-strict-di'. Essa diretiva serve para 'obrigar'
 o desenvolvedor à sempre usar a injeção escrita
 das dependencias do controller.
 -->
<html lang="pt-BR" ng-app="listaTarefasApp" ng-strict-di>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Johnny A. Santos - Lista de Tarefas</title>
    <!-- Fontes para facilitar a leitura -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" rel="stylesheet">

    <!-- Estilo -->
    <link href="/css/app.css" rel="stylesheet">
</head>

<body ng-controller="listaTarefasController as vm">
    <!-- Aqui criamos uma div para conter todos os objetos da nossa lista -->
    <div class="conteiner-lista">
        <h1>Lista de Tarefas</h1>

        <form ng-submit="vm.novaTarefa()" class="nova-tarefa">
            <input placeholder="Criar uma tarefa" class="titulo" required ng-model="vm.tarefaObj.titulo" />
            <button class="botao botao-nova-tarefa" type="submit">Nova tarefa</button>
        </form>
        <!--
         Div que será repetida pela diretiva ng-repeat do Angular
         para cada item no nosso array dentro do controller
         -->
        <div class="objeto-lista" ng-repeat="tarefa in vm.tarefas">

            <div class="item-lista" ng-if="!tarefa.editando" ng-cloak ng-class="{ 'tarefa.concluida': 'item-finalizado' }">
                <span class="titulo-lista" ng-bind="::tarefa.titulo"></span>
                <div class="botoes-conteiner">
                    <button class="botao botao-edicao" ng-click="vm.editar(tarefa)">Editar</button>
                    <button class="botao botao-remocao" ng-click="vm.remover(tarefa)">Remover</button>
                </div>
            </div>

            <form ng-submit="vm.salvar(tarefa)" class="item-lista item-edicao-lista" ng-if="tarefa.editando" ng-cloak>
                <input ng-model="tarefa.titulo" />
                <button type="submit" class="botao botao-salvar">Salvar</button>
            </form>

        </div>
    </div>
    <small class="footer">2017 - <a href="https://johnnyasantos.com" target="_blank">Johnny Anderson dos Santos</a></small>
</body>
<!-- Scripts sempre devem ir no final do HTML para ajudar no carregamento -->
<script src="/angular/angular.js" defer></script>
<script src="/js/app.js" defer></script>

</html>